<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://businesscloud.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>businesscloud</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$businesscloud</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SMARTBUSSINESSCLOUD_MDFConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=e02jffejnx.database.windows.net;Initial Catalog=SMARTBUSSINESSCLOUD.MDF;Persist Security Info=True;User ID=admin1;Password=Cloud2013" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SMARTBUSSINESSCLOUD_MDFConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=e02jffejnx.database.windows.net;Initial Catalog=SMARTBUSSINESSCLOUD.MDF;Persist Security Info=True;User ID=admin1;Password=Cloud2013" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SmartBussinessCloudConnectionString1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SmartBussinessCloud.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartBussinessCloudConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SmartBussinessCloud.mdf;Integrated Security=True;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SmartBussinessCloudConnectionString2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SmartBussinessCloud.mdf&quot;;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartBussinessCloudConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SmartBussinessCloud.mdf&quot;;Integrated Security=True;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SmartBussinessCloudConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SmartBussinessCloud.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmartBussinessCloudConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SmartBussinessCloud.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartBussinessCloudConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartBussinessCloudConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartBussinessCloudConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SMARTBUSSINESSCLOUD_MDFConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>